spring:
  datasource:
    hikari:
      maximum-pool-size: 50
      minimum-idle: 10
  jpa:
    properties:
      hibernate:
        generate_statistics: false
        jdbc:
          batch_size: 50

server:
  error:
    include-message: never
    include-binding-errors: never
    include-stacktrace: never

logging:
  level:
    uk.jtoye: INFO
    org.hibernate.SQL: WARN
    org.springframework.security: WARN
  pattern:
    console: '{"timestamp":"%d{yyyy-MM-dd HH:mm:ss}","level":"%level","logger":"%logger{36}","message":"%msg","thread":"%thread"}%n'

management:
  endpoint:
    health:
      show-details: never

springdoc:
  swagger-ui:
    enabled: ${SWAGGER_ENABLED:false}
